* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.banner-img {
    background: linear-gradient(rgba(25, 26, 28, 0.75), rgba(24, 24, 26, 0.75)),
        url(../img/fpndo.png) no-repeat;
    height: 600px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@import 'partials/header';
@import './partials/banner';
@import './partials/unitealcambio';
@import './partials/footer';
@import './partials/productos';
@import './partials/seccionproducto';
@import './partials/preguntas';
@import './partials/formulario';
@import './partials/nosotros';
@import './partials/veganismo';




