.bannertext {
    text-align: center;
    color: $color-principal;
    padding: 10px 20px;
    padding: 8rem;

    .titulobanner {
        font-size: 50px;
    }

    p {
        font-size: 20px;
        margin: auto;
        margin-bottom: 10px;
    }
}
