.tituloindex {
    color: white;
    background-color: rgb(35, 92, 35);
    text-align: center
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 16px;

    .cards {
        border-radius: 8px;
        margin: 10px;
        margin-bottom: 5px;
        overflow: hidden;
        text-align: center;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.25s ease;

        .btn {
            background-color: rgb(76, 125, 76);
            font-size: 1rem;
            margin-top: 5px;
            padding: 2px 10px;
            border-radius: 1px solid (0, 0, 0, 0.5);
            box-shadow: 2px 2px 10px rgb(49, 47, 47);

            &:hover {
                background-color: rgb(127, 157, 117);
            }
        }
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    color: black;
    margin-top: 100px;
    width: 100%;
    max-width: 1200px;
    justify-content: center;

    .card {
        width: 330px;
        height: 430px;
        border-radius: 8px;
        margin: auto;
        margin-bottom: 10px;
        overflow: hidden;
        text-align: center;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.25s ease;


        &:hover {
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
            transform: translateY(-3%);
        }
    }
}

.container .card img {
    height: 500px;
    border-radius: 20px;
}




