.tituloindex {
    color: white;
    background-color: rgb(35, 92, 35);
    text-align: center
}

.contenedor {
    margin-bottom: 16px;
    @include flex;

    .cards {
        border-radius: 8px;
        margin: 10px;
        margin-bottom: 5px;
        overflow: hidden;
        text-align: center;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.25s ease;

        &:hover {
            background-color: rgb(127, 157, 117);
        }
    }
}

.container .card img {
    height: 500px;
    border-radius: 20px;
}




