.contenedorvegguie{
    text-align:right
    .center{
        text-align: center;
    }
}
.veganismo{
    background-color:  rgb(158, 201, 158);

    .titulovegan{
        text-align: center;
        .veganismoParraf{
            margin: 8px;
            .center{
                justify-content: center;
            }
        }
    }
}